<header class="header">
  <div class="logo">
    <h1>Prometheus</h1>
  </div>
  <nav class="nav">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/list" routerLinkActive="active">Lista</a></li>
      <li><a routerLink="/form" routerLinkActive="active">Formulário</a></li>
      <!-- <li><a routerLink="/details" routerLinkActive="active">Detalhes</a></li>-->
    </ul>
  </nav>
  <div class="icons">
    <a routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i></a>
    <a routerLink="/list" routerLinkActive="active"><i class="fa fa-list"></i></a>
    <a routerLink="/form" routerLinkActive="active"><i class="fa fa-pencil"></i></a>
    <a routerLink="/details" routerLinkActive="active"><i class="fa fa-info"></i></a>
  </div>
</header>
