<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <main class="main">
        <section class="section">
            <h1>Bem-vindo ao Prometheus.</h1>
            <p>Com nossa solução, você poderá:</p>
            <ul>
                <li>Registrar e gerenciar dados dos alunos, incluindo informações pessoais, acadêmicas e de contato;</li>
                <li>Acompanhar o desempenho acadêmico dos alunos ao longo do tempo, visualizando notas, frequência e outras métricas;</li>
                <li>Agendar e gerenciar eventos, atividades extracurriculares e reuniões com pais e responsáveis;</li>
                <li>Comunicar-se de forma eficaz com os alunos, pais, professores e funcionários da instituição através de mensagens e notificações;</li>
                <li>Personalizar a experiência do usuário de acordo com as necessidades específicas de sua instituição.</li>
            </ul>
            <p>Nosso objetivo é fornecer uma ferramenta poderosa e intuitiva que ajude a promover o sucesso acadêmico e o bem-estar dos alunos, enquanto simplifica as tarefas administrativas para a equipe da escola.</p>
        </section>
    </main>
</body>
</html>
